* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: grey;
}

h2 {
    background-color: gainsboro;
}

footer {
    background-color: rgb(146, 143, 214);
    border-top: 2px solid black;
}

p,ol,ul {
    font-size: 20px;
}

.p1 {
    text-align: center;
    font-size: 24px;
}

#img {
    float: left;
    margin: o 15px 0 0;
}

.boxone {
    height: auto;
    width: 40%;
    padding: auto;
    margin: 2px;
    border: 2px solid green;
    border-radius: 20px;
    -ms-flex-align: stretch;
    display: inline-block;
}

.boxtwo {
    height: fit-content;
    width: 55%;
    padding: auto;
    border: 2px solid green;
    border-radius: 20px;
    -ms-flex-align: stretch;
    display: inline-block;
    padding: 10px;
    position: absolute;
}

img:hover{
    transform: scale(1.05);
    transition: all ease;
    border-radius: 20px;
    box-shadow: 2px green;
}

.imgbox {
    display: inline-block;
    width: 32%;
}